<div class="container">
  <div class="row">


    <div class="col-md-12">
      <h3>Employees</h3>
      <p>
        <button type="button" id="new_employee" class="btn btn-primary mybuttons">Create new employee</button>
      </p>
      <%= link_to cut_employees_path employees.to_param, method: :post %>
      <div class="table-responsive">

        <table id="employee_table" class="table table-bordred table-striped">

          <p id="total_salaries">
          <h4>Total salaries: <%= get_total_salaries(employees) %></h4>
          </p>

          <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Company</th>
            <th>Department</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>

          <% employees.each_with_index do |employee| %>
              <%= render partial: 'employees/partials/employee', locals: {employee: employee} %>
          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
</div>
<script>$(function () {
  var $modal = $('#employee_modal');
  $('#new_employee').on('click', function () {
    $modal.load('<%= new_employee_path %>', '', function () {
      $modal.modal();
    });
  });
});</script>