<table id="employee_table" class="table table-bordred table-striped">

  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Salary</th>
    <th>Company</th>
    <th>Department</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>

  <% employees.order(name: :asc).each do |employee| %>
      <%= render partial: 'employees/partials/employee', locals: {employee: employee} %>
  <% end %>

  </tbody>

</table>

<script>$(function () {
  var $modal = $('#employee_modal');
  $('#new_employee').on('click', function () {
    $modal.load('<%= new_employee_path %>', '', function () {
      $modal.modal();
    });
  });
});</script>