<div class="container">
  <div class="row">


    <div class="col-md-12">
      <h3>Companies</h3>
      <p><button type="button" id="new_company" class="btn btn-primary mybuttons">Create new company</button></p>
      <div class="table-responsive">


        <table id="company_table" class="table table-bordred table-striped">

          <thead>
          <tr>
            <th>Name</th>
            <th># Departments</th>
            <th># Employees</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>

          <% companies.each do |company| %>
              <%= render partial: 'companies/partials/company', locals: {company: company} %>
          <% end %>

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
</div>
<script>$(function () {
  var $modal = $('#company_modal');
  $('#new_company').on('click', function () {
    $modal.load('<%= new_company_path %>', '', function () {
      $modal.modal();
    });
  });
});</script>
