<%= form_for company, remote: true, html: {id: 'company_form'} do |f| %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
      <span class="help-block"></span>
    </p>
    <p>
      <%= f.submit nil, class: 'btn btn-warning' %>
    </p>
<% end %>
<script>
  $(function () {
    var $form = $('#company_form');
    $form.validate({
      rules: {
        "company[name]": {
          required: true
        }
      },
      errorPlacement: function (error, element) {
        $(element).closest('p').find('.help-block').text(error.text());
      },
      highlight: function (element) {
        $(element).closest('p').removeClass('has-success');
        $(element).closest('p').addClass('has-error');
      },
      unhighlight: function (element) {
        $(element).closest('p').removeClass('has-error');
      },
      success: function (element) {
        $(element).closest('p').addClass('has-success');
      }
    });
  });
</script>