<div class="container">
  <h2 class="text-center" style="margin-bottom: 50px">Welcome to CompanyManager</h2>
  <div class="text-center">
    <%= image_tag('homepage.jpg', size: '960x555') %>
  </div>
</div>