<table id="department_table" class="table table-bordred table-striped">

  <thead>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Manager</th>
    <th># Employees</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>

  <% departments.each_with_index do |department| %>
      <%= render partial: 'departments/partials/department', locals: {department: department} %>
  <% end %>

  </tbody>

</table>

<script>$(function () {
  var $modal = $('#department_modal');
  $('#new_department').on('click', function () {
    $modal.load('<%= new_department_path %>', '', function () {
      $modal.modal();
    });
  });
});</script>