<!--Developer: Isabelle&Diana-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>About CompanyManager</h3>

      <div class="container">
        <p><a href="http://softlang.wikidot.com/course:ptt16">Course Wiki</a></p>

        <p><a href="https://gitlab.uni-koblenz.de/turing16/tyrion">Gitlab Repository</a></p>

        <p><a href="https://github.com/fuuman/101company">Our Code on Github</a></p>

        <p>The web application <i>CompanyManager</i> was created by the Group <b>turing16/tyrion</b> in the
          context of the course "Programming techniques and technologies" (SS2016) at the University Koblenz-Landau.</p>

        <p style="margin-top: 25px"><h4>Group members:</h4>
        <ul class="container">
          <li>Marco Schanz</li>
          <li>Isabelle Kuhlmann</li>
          <li>Diana Richter</li>
          <li>Marius Beckmann</li>
          <li>Frank Schaust</li>
          <li>André-Gilbert Thomas</li>
        </ul>
        </p>

      </div>
    </div>
  </div>
</div>
